{% extends 'ParentTemplate.html' %}

{% block title %}CodeFolio- Reset Password{% endblock %}

{% block content %}
<div class="container" style="margin-top: 10%;">
    <section class="auth-section">

        <h2>Reset Password</h2><br>

        <form method="POST" action="">
            {% csrf_token %}
            {% if not request.session.pswd_otp %}
                <div class="form-group">
                    <h3>An OTP will be sent to your registered mail id</h3>
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" placeholder="Enter registered mail id">
                </div>
                <input type="submit" class="btn btn-primary outline" value='Send OTP' />
            {% elif request.session.pswd_otp and not request.session.pswd_otp_success %}    
                <div class="form-group">
                    <h3>An OTP was sent to your registered mail id</h3>
                    <label for="otp">OTP</label>
                    <input type="text" id="otp" name="otp" required>
                </div>
                <input type="submit" class="btn btn-primary outline" value='validate OTP' />
            {% elif request.session.pswd_otp_success %}    
                <div class="form-group">
                    <label for="new_password">New Password</label>
                    <input type="password" id="new_password" name="password1" required>
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" id="confirm_password" name="password2" required>
                </div>
                <input type="submit" class="btn btn-primary outline" value='Reset password' />      
            {% endif %}
            
            {% if messages %}
                <div class="alert alert-danger mt-3">
                    {% for err_msg in messages %}
                        {{ err_msg }}
                    {% endfor %}
                </div>
            {% endif %}
            {% if form.errors %}
                <div class="alert alert-danger mt-3">
                    {% for field in form %}
                        {{ field.errors }}
                    {% endfor %}
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
        </form>   
        <br>   
        
{% endblock content %}